/* styles.css */

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-theme {
    background-color: #303030;
    color: #fff;
}

body.light-theme {
    background-color: #fff;
    color: #000;
}