/* mv-results.component.css  */

.dark-mode .list-group-item {
    background-color: #444;
    border-color: #222;
    color: #fff;
}

.list-group-item.active{
    border-color: #1c4f80;
    background-color: #2A75B3;
}

.dark-mode .list-group-item.active{
    border-color: #222;
    background-color: #555;
}

.card-content{
    padding: var(--my-app-mv-padding)
}