/* mv-results.component.css  */

.dark-mode .list-group-item {
    background-color: #444;
    border-color: #222;
    color: #fff;
}

.dark-mode .list-group-item.active{
    border-color: #222;
    background-color: #555;
}