.button-section {
    width: 100%;
    /* 100% da largura da tela */
    border: 1px solid black;
    /* borda preta de 1 pixel */
    border-radius: 0 !important;
    /* Achei que ficou feio borda arredondada */
}

.button-group {
    overflow: auto;
    /* barra de rolagem automática */
}

mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
}

.flex-container {
    align-items: center;
}