/* Sobra pouco espaço para o título então eu estou o ocultando */
@media (max-width: 765px) {
  h1 {
    display: none;
  }
  mat-form-field {
    padding-right: 20pt;
  }  
}
@media (max-width: 575px) {
  h1 {
    display: none;
  }
  .logo {
    display: none;
  }
}

h1 {
  padding-left: 20pt;
  padding-right: 20pt;
  margin-top: 10pt;
}

.mat-toolbar {
  padding: 5pt 5pt 5pt 5pt;
}

.mat-toolbar-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

mat-toolbar-row>.logo {
  height: 90%;
}

mat-toolbar-row>mat-form-field {
  margin-top: 15pt;
}

mat-form-field {
  flex-grow: 2;
}

.rotate {
  transform: rotate(180deg);
}

.theme-icon {
  max-width: 48px;
  max-height: 48px;
  background-color: transparent;
}

.buttonToggleTheme {
  border: none;
  background-color: transparent;
  margin: 0pt -10pt 0pt 10pt;
  border-radius: 50%;
  padding: 0;
}