 <!-- mv-toolbar.component.html-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <mat-icon>star</mat-icon>
            <mat-icon>favorite</mat-icon>
        </span>
        <mat-form-field class="search">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Digite sua pesquisa aqui">
        </mat-form-field>
        <h1 class="fs-1">{{ pageTitle }}</h1>
        <img src="./assets/img/logo.png" alt="Logo" class="logo img-fluid rounded">
        <button (click)="toggleTheme()" [innerHTML]="emoji" class="buttonToggleTheme"></button>
    </mat-toolbar-row>
</mat-toolbar>