/* app.component.css */
h1{
  padding-left: 10pt;
  padding-right: 10pt;
  margin-top: 10pt;
}

@media (max-width: 800px) {
  h1{
    display: none;
  }
}

.buttonToggleTheme{
  margin: 0pt 0pt 0pt 10pt;
}

.mat-toolbar {
    padding: 5pt 5pt 5pt 5pt;
  }

.mat-toolbar-row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

mat-toolbar-row > .logo{
  height: 90%;
}

mat-toolbar-row > mat-form-field{
  margin-top:15pt;
}

mat-form-field{
  flex-grow: 2;
  margin-right: 10pt;
  margin-left: 10pt;
}